.hero-section{
    margin-top: 10vh;
    display: grid;
    grid-template-rows:1fr auto;
    justify-items: center;
    background-color: var(--primary-color-green);
    color: var(--secondary-color-light-gray);
    padding: 20px;
}

.hero-section__image-container{
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: auto;
}

.hero-section__image-container img{
    position: relative;
    top: 10.0rem;
    width: 80%;
    border-radius: 8px;
}

.hero-section__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 60px 0 0 0;
}

.hero-section__titles h1{
    color: var(--primary-color-yellow);
    line-height: 50px;
    padding-bottom: 10px;
}

.hero-section__titles h2{
    line-height: 30px;
}

@media (min-width: 768px) {
    .hero-section{
        height: auto;
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr;
        padding: 0 70px;
    }

    .hero-section__image-container img{
        top: 10.0rem;
        width: 80%;
    }
    .hero-section__text{
        padding: 60px 0 60px 0;
    }
}