.hero-section{
    display: grid;
    padding: 0 70px;
    grid-template-rows:1fr 1fr;
    justify-items: center;
    background-color: var(--primary-color-green);
    color: var(--secondary-color-light-gray);
}

/* .hero-section__image-container{
    position: relative;
} */

.hero-section__image-container img{
    position: relative;
    top: 60px;
    width: 360px;
    height: 360px;
    border-radius: 8px;
}

.hero-section__text{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 36px;
}

.hero-section__titles h1{
    color: var(--primary-color-yellow);
    line-height: 50px;
    padding-bottom: 10px;
}

.hero-section__titles h2{
    line-height: 30px;
}

