.hero-section{
    margin-top: 10vh;
    display: grid;
    height: 80vh;
    grid-template-rows:1fr 1fr;
    justify-items: center;
    background-color: var(--primary-color-green);
    color: var(--secondary-color-light-gray);
}

.hero-section__image-container{
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
}

.hero-section__image-container img{
    position: relative;
    width: 50%;
    min-width: 365px;
    border-radius: 8px;
}

.hero-section__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 36px;
}

.hero-section__titles h1{
    color: var(--primary-color-yellow);
    line-height: 50px;
    padding-bottom: 10px;
}

.hero-section__titles h2{
    line-height: 30px;
}

@media (min-width: 768px) {
    .hero-section{
        height: auto;
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr;
    }

    .hero-section__image-container img{
        top: 6.0rem;
    }
}