@font-face {
  font-family: 'Markazi';
  src: url('./assets/fonts/MarkaziText-VariableFont_wght.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Markazi';
  src: url('./assets/fonts/MarkaziText-VariableFont_wght.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('./assets/fonts/Karla-VariableFont_wght.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('./assets/fonts/Karla-VariableFont_wght.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('./assets/fonts/Karla-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


:root{
  /* Color pallette */
  --primary-color-green: #495E57;
  --primary-color-yellow: #F4CE14;
  --secondary-color-orange: #EE9972;
  --secondary-color-cream:#FBDABB;
  --secondary-color-light-gray:#EDEFEE;
  --secondary-color-black: #333333;

  /* Typography */
  --titles-typography: 'Markazi',serif;
  --regular-typography: 'Karla',sans-serif;
}

/*---------Global tags--------*/
html{
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

  font-family: var(--regular-typography);
}


header{
  padding: 0 20px;
}

main{
  display: grid;
  margin-top: 10vh;
}

section{
  padding: 120px 20px;
}

footer{
  grid-auto-flow: row;
  padding: 64px 20px;
}

/*-----------global-tags---------------*/

button{
  background: transparent;
  border: none;
  cursor: pointer;
}

li{
  list-style: none;
}


/*---------Typography--------*/

.display-title{
  font-size: 5.2rem;
  font-family: var(--regular-typography);
  font-weight: 400;
}

.cosmetic-title{
  font-size: 6.4rem;
  font-family: var(--titles-typography);
  font-weight: 400;
}

.lead-subtitle{
  font-size: 2.0rem;
  font-weight: 600;
}

.lead-text{
  font-size: 1.8rem;
  font-weight: 300;
}

.section-title{
  font-size: 4.8rem;
  font-weight: bold;
  font-family: var(--titles-typography);
  color: var(--secondary-color-black);
}

.subtitle{
  font-size: 3.6rem;
  font-family: var(--titles-typography);
  font-weight: 400;
}

.card-title{
  font-size: 1.8rem;
  font-family: var(--regular-typography);
  font-weight: bold;
}


.description-text{
  font-size: 1.6rem;
  font-family: var(--regular-typography);
  font-weight: 400;
}

.input-label{
  font-size: 1.8rem;
  font-family: var(--regular-typography);
  font-weight: 400;
}
/*---------Typography--------*/

@media (min-width: 768px) {
  header{
      padding: 0 70px;
  }

  section{
      padding: 120px 70px;
  }
  footer{
    padding: 64px 70px;
    grid-auto-flow: column;
  }
}